/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    margin: 0;
}

.btn-inicio {
    text-decoration: none;
    background-color: #007BFF;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
}

/* Galería */
.gallery-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.gallery-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.gallery-item {
    width: 180px;
    height: 180px;
    overflow: hidden;
    border: 3px solid white;
    border-radius: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-item:hover {
    transform: scale(1.1);
}

/* Pop-up con fondo difuminado */
.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 10;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    width: 50%;
    max-width: 500px;
    z-index: 20;
}

.popup img {
    width: 80%; /* Reduje el tamaño de la imagen */
    max-width: 250px; /* Ajuste de tamaño para mejor visibilidad */
    border-radius: 10px;
    margin-top: 10px;
}

/* Botón de cierre */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #757575; /* Gris medio claro */
    background: none;
    border: none;
}

/* Contenedor de color */
#popup-color-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.color-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
}

#popup-color-text {
    font-weight: bold;
    margin: 0;
}

/* Enlace del paseador */
#popup-walker-link {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #007BFF;
    text-decoration: none;
}

#popup-walker-link:hover {
    text-decoration: underline;
}
